<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click Games</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">
                <img src="{% static 'img/joystick_808513.png' %}" alt="Joystick">
            </a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a href="{% url 'historico-login' %}">Histórico de login</a>
            </li>
            <li>
                <a href="{% url 'historico-jogos' %}">Histórico de partidas</a>
            </li>
        </ul>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="messages {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.opcao_usuario.id_for_label }}">{{ form.opcao_usuario.label }}</label>
                <div class="opcoes-jogo">
                    {{ form.opcao_usuario }}
                </div>
            </div>
            <input type="submit" value="Jogar!">
        </form>
    </div>
    {% if jogo %}
        <div class="resultado-jogo">
            <p>Escolha jogador: {{ jogo.opcao_usuario }}</p>
            <p>Escolha computador: {{ jogo.opcao_computador }}</p>
            <p>Resultado: {{ jogo.resultado }}</p>
        </div>
    {% endif %}
</body>
<footer>
    <a href="https://www.freepik.com/search">Icon by mynamepong</a>
</footer>
</html>