<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click Games</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'historico-login' %}">Histórico de login</a>
        <a href="{% url 'logout' %}">Histórico de partidas</a>
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class="messages {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="form-container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.opcao_usuario.id_for_label }}">{{ form.opcao_usuario.label }}</label>
                {{ form.opcao_usuario }}
                {% for error in form.opcao_usuario.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            <input type="submit" value="Jogar">
        </form>
    </div>
    {% if jogo %}
        <div class="resultado-jogo">
            <p>Escolha jogador: {{ jogo.opcao_usuario }}</p>
            <p>Escolha computador: {{ jogo.opcao_computador }}</p>
            <p>Resultado: {{ jogo.resultado }}</p>
        </div>
    {% endif %}
</body>
</html>