<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Click Games</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <div class="container-principal">
        <h1>Click Games</h1>
        <div class="form-container">
            {% if messages %}
            <div class="error-container">
                {% for message in messages %}
                    <div class="messages {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.usuario.id_for_label }}">{{ form.usuario.label }}</label>
                    {{ form.usuario }}
                    {% for error in form.usuario.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="{{ form.senha.id_for_label }}">{{ form.senha.label }}</label>
                    {{ form.senha }}
                    {% for error in form.senha.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                    <input class="btn" type="submit" value="Entrar">
            </form>
        </div>
        <div class="opcoes-extras-conta">
            <p>Não tem conta?</p>
            <a href="{% url 'criar-conta' %}">Criar conta</a>
        </div>
    </div>
    <footer>
        <div class="infos-site">
            <a href="https://www.freepik.com/search">Icon by mynamepong</a>
        </div>
    </footer>
</body>
</html>